<launch>

    <!-- USB CAM -->
    <node pkg="usb_cam" type="usb_cam_node" name="bebop" output="screen">
        <param name="video_device" value="/dev/video1"/>
        <!-- param name="pixel_format" value="YU12"/ -->
    </node>

    <!--  DETECTORS, STATE MACHINE AND IMAGE VIEWS  -->
    <include file="$(find tmr24)/launch/tmr.launch"/>

</launch>